<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Landmark Search</title>

    <style>
        <% if (devEnviroment) { %>
            @import url('sass/style.css');
        <% } else { %>
            @import url('<%- staticAssetPath %>style.css?v=<%- cacheBuster %>');
        <% } %>
    </style>
</head>
<body>
<div class="js-navbar-holder">
</div>
<div class="landmark-app js-landmark-app">
    <div class="js-bread-crumbs-holder bread-crumbs-holder">
    </div>
</div>
<script>
    <% // Bootstrapped user session and first landmarks search %>
    if (!window.NDS){
        window.NDS = {}
    }
    if (!window.NDS.userSessions){
        window.NDS.userSessions = <%- userSessions %>;
    }
    if (!window.NDS.landmarkList){
        window.NDS.landmarkList = <%- landmarkResults %>;
    }
</script>

<% if (devEnviroment) { %>
<script data-main="js/main" src="js/node_modules/requirejs/require.js"></script>
<% } else { %>
<script data-main="<%- staticAssetPath %>main.min.js?v=<%- cacheBuster %>" src="<%- staticAssetPath %>require.js?v=<%- cacheBuster %>"></script>
<% } %>
</body>
</html>