<div class="landmark-details-app js-landmark-details-app">
    <div class="row">
        <div class="col-sm-12 js-details-jumbotron">

        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 js-pics-bucket">

        </div>
    </div>
</div>
