<div class="row">
    {{#pics}}
    <div class="detail-pic-item">
        <div class="thumbnail">
            <img src="{{url}}" class="detail-thumbnail-small" >
        </div>
    </div>
    {{/pics}}
</div>