<div class="jumbotron">
    <div class="row">
        <div class="col-sm-9">
            <h1>{{landmark.name}}</h1>

            <p>{{landmark.description}}</p>
        </div>
        <div class="col-sm-3">
            <button type="button" id="new-image-btn"
                    class="btn btn-lg btn-primary js-new-image-popover"
                    role="button"
                    data-container=".js-popover-bucket"
                    data-animation="true"
                    data-trigger="click manual"
                    data-toggle="popover"
                    data-placement="bottom"
                    data-html="true"
                    data-original-title="" title="New Image"
                    data-content="{{popoverContent}}">
            New Image
            </button>
            <div class="js-popover-bucket">

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <img class="details-big-image" src="{{landmark.thumbnailUrl}}">
        </div>
    </div>
</div>