<p class="js-username-label navbar-text hidden">

</p>

<button type="button" class="btn btn-default navbar-btn js-logout-btn hidden">Log Out</button>
<form class="navbar-form navbar-form-left js-login-form hidden" role="">
    <!--
    <div class="form-group">
        <input type="text" class="form-control js-username-text-box" placeholder="User Name">
        <input type="password" class="form-control js-password-text-box" placeholder="Password">
    </div>
    <button type="submit" class=" btn btn-default js-login-btn">Log In</button>
    -->
    <a href="/auth/google" class="form-control btn btn-default">Login with Google</a>
</form>
