<nav class="navbar navbar-default landmark-nav-bar" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img alt="Brand" src="img/building.svg" style="height:20px;">
            </a>
        </div>
        <p class="navbar-text">List of Landmarks</p>

        <div class="js-create-holder create-holder">

        </div>
        <div class="js-login-holder pull-right">

        </div>
    </div>
</nav>