<!-- Button trigger modal -->
<button class="js-create-modal-btn btn btn-default navbar-btn hide-until-render" data-toggle="modal" data-target="#new-landmark-modal">
    Create new Landmark
</button>

<!-- Modal -->
<div class="modal fade" id="new-landmark-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Create new Landmark</h4>
            </div>
            <div class="modal-body">
                <form role="form" action="">
                    <div class="form-group">
                        <label for="landmark-name-txt">Landmark Name</label>
                        <input type="text" class="form-control js-name-txt" id="landmark-name-txt"
                               placeholder="Enter the Landmark Name">
                    </div>
                    <div class="form-group">
                        <label for="landmark-description-txt">Description</label>
                        <input type="text" class="form-control js-description-txt" id="landmark-description-txt"
                               placeholder="Enter a description">
                    </div>
                    <div class="form-group">
                        <label for="landmark-thumbnail-txt">Thumbnail URL</label>
                        <input type="text" class="form-control js-thumbnail-txt" id="landmark-thumbnail-txt"
                               placeholder="Enter a thumbnail URL">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default js-new-landmark-close-btn" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary js-new-landmark-save-btn">Save changes</button>
            </div>
        </div>
    </div>
</div>