

<form role='form' class='js-new-image-form' action=''>
    <div class='form-group'>
        <label for='new-image-name-txt'>Landmark Name</label>
        <input type='text' class='form-control js-new-image-name-txt' id='new-image-name-txt'
               placeholder='Great Picture!'>
    </div>
    <div class='form-group'>
        <label for='new-image-url-txt'>Thumbnail URL</label>
        <input type='text' class='form-control js-new-image-url-txt' id='new-image-url-txt'
               placeholder='example.com/image.jpg'>
    </div>
    <button type='button' id='new-image-cancel-btn' class='btn btn-default'>
        Close
    </button>
    <button type='button' id='new-image-create-btn' class='btn btn-default btn-primary'>
        Save
    </button>
</form>
