{{#messages}}
    <div class="search-message js-search-message" role="alert">{{message}}</div>
{{/messages}}

<div class="js-search-results search-results-list">
{{#results}}
    <a href="#search/{{_id}}" class="search-list-item js-search-item" data-id="{{_id}}">
        <div class="row">
            <div class="text-col">
                <h4 class="item-title">
                    {{name}}
                </h4>
                <p class="item-text">
                    {{description}}
                </p>
            </div>
            <div class="thumbnail-col">
                <img class="results-thumbnail-small" src="{{thumbnailUrl}}">
            </div>
        </div>
    </a>
{{/results}}
</div>