<div class="landmark-search-app js-landmark-search-app">
    <div class="row">
        <div class="js-search-container search-container">
            <div class="js-query-holder">

            </div>
            <div class="js-results-holder">

            </div>
        </div>
        <div class="js-search-preview search-preview">

        </div>
    </div>
</div>
