<form class="form-inline search-form-group" role="form">
    <input type="text" class="form-control js-search-input" placeholder="Search...">
    <button type="submit" class="btn btn-default search-btn js-search-btn">
        Search
        <i class="icon-camera-retro icon-large"></i>
    </button>
</form>