<h1 class="preview-name">
    {{name}}
</h1>
<img class="preview-thumbnail" src="{{thumbnailUrl}}">

<p class="preview-description">
    {{description}}
</p>

<p>
    <a class="js-search-preview-btn search-preview-btn" role="button" href="#landmark/{{_id}}">
        Check it out!
    </a>
</p>
