@import '../js/node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss';

$default-gutter-width:15px;

@mixin custom-create-col($col-span){
  @include make-sm-column($col-span,$default-gutter-width);
  @include make-md-column($col-span,$default-gutter-width);
  @include make-lg-column($col-span,$default-gutter-width);
}

$breakpoints: (
        'small'  : $screen-sm - 1px,
        'medium' : $screen-md - 1px,
        'large'  : $screen-lg - 1px
);

@mixin respond-to($breakpoint) {
  // Retrieves the value from the key
  $value: map-get($breakpoints, $breakpoint);

  // If the key exists in the map
  @if $value != null {
    // Prints a media query based on the value
    @media (min-width: $value) {
      @content;
    }
  }
    // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}

.hide-until-render{
  @extend .hidden;
}

.landmark-nav-bar{
  .create-holder{
    @extend .col-sm-3;
  }
}

.landmark-app{
  @extend .container;
}

.landmark-details-app{
  @extend .row;
  @extend .col-xs-12;

  .detail-pic-item{
    @extend .col-sm-3;
  }
  .detail-thumbnail-small{
    width:200px;
  }

  .details-big-image{
    width:400px;
  }
}

.landmark-search-app{
  @extend .row;
  @extend .col-xs-12;
  .search-container{
    @include custom-create-col(6);

    .search-form-group{
      margin-bottom:10px;
      width:100%;
      .search-btn{
        .search-query-icon{
          //@extend .fa-search;
        }
      }
    }
  }

  .search-preview{
    @extend .jumbotron;
    @extend .hidden-xs;
    @extend .col-sm-6;
    @extend .col-md-6;
    @extend .col-lg-6;

    .preview-name{

    }
    .preview-thumbnail {
      width:75px;
      @include respond-to(small){
        width:200px;
      }
      @include respond-to(medium){
        width:300px;
      }
      @include respond-to(large){
        width:400px;
      }
    }

    .preview-description{

    }

    .search-preview-btn{
      @extend .btn;
      @extend .btn-primary;
    }
  }

  .search-message{
    @extend .alert;
    @extend .alert-info;
  }
  .search-results-list{
    @extend .list-group;

    .search-list-item{
      @extend .list-group-item;
      .text-col {
        @include make-md-column(9,15px);
        //@include make-md-column(12,15px);
      }
      .thumbnail-col{
        //@extend .pull-right;
        //@include make-sm-column(12,15px);
        @include make-md-column(3,15px);
      }

      .item-title{
        @extend .list-group-item-heading;
      }
      .item-text{
        @extend .list-group-item-text;
      }
      .results-thumbnail-small{
        width:75px;
      }
    }
  }
}